# ДЗ3 Анна Головина группа БКЛ213

Чтобы в дальнейшем не искать нужные ячейки с импортом нужных модулей, прописываю в первой же ячейке все необходимые импорты. Здесь модули, которые нужны для всех заданий.

In [3]:
from matplotlib import pyplot as plt
import pandas as pd
import sqlite3

# Первое задание

Поскольку у меня на компьютере нет памяти для установки читалок баз данных, мне проще кодом вытащить всю необходимую информацию. Запросы в маркдаун прописала перед ячейкой с кодом к кадому подпункту, так что и задание выполнила, и код с результатом работы показала. Начинаем с подключения к базе данных.

In [4]:
con = sqlite3.connect("imdb_small_indexed.db")
cur = con.cursor()

Дальше я хочу посмотреть, насколько в целом адекватно открывается база данных и что она показывает мне, например, в таблице *titles*.

In [9]:
sample_query = """
SELECT *
FROM titles
"""

In [10]:
sample = cur.execute(sample_query).fetchone()
print(sample)

(9, 1, 'Miss Jerry', 0, 1894, None, 45)

*1. С помощью запроса выберите фильмы ранее 2018 года*

Допустим, ранее не включая 2018, так что неравенство строгое.

Запрос: """
SELECT title
FROM titles 
WHERE premiered < 2018
"""

In [5]:
year_query = """
SELECT title, premiered
FROM titles 
WHERE premiered < 2018
"""

In [7]:
print(f"Название фильма: {cur.execute(year_query).fetchone()[0]}; год: {cur.execute(year_query).fetchone()[1]}")

Название фильма: Miss Jerry; год: 1894

*2. 50 самых популярных фильмов (по кол-ву оценок)*

**Небольшое замечание на полях:** во всех джоинах я писала AS и далее сокращенное имя таблицы (это чтобы код слишком размашистым не получился и по pep8 все прилично было)

Запрос: """
SELECT t.title, votes, r.title_id
FROM rating AS r
    JOIN titles AS t ON t.title_id = r.title_id
ORDER BY votes DESC
LIMIT 50
"""

In [74]:
popular_query = """
SELECT t.title, votes, r.title_id
FROM rating AS r
    JOIN titles AS t ON t.title_id = r.title_id
ORDER BY votes DESC
LIMIT 50
"""

In [75]:
top_by_votes = [item for item in cur.execute(popular_query).fetchall()]
for i in range(len(top_by_votes)):
    print(f"№{i+1}: {top_by_votes[i][0]}; голоса: {top_by_votes[i][1]}")

№1: The Shawshank Redemption; голоса: 2296829
№2: The Dark Knight; голоса: 2261286
№3: Inception; голоса: 2023295
№4: Fight Club; голоса: 1820822
№5: Pulp Fiction; голоса: 1793495
№6: Forrest Gump; голоса: 1769908
№7: Game of Thrones; голоса: 1717079
№8: The Matrix; голоса: 1644392
№9: The Lord of the Rings: The Fellowship of the Ring; голоса: 1630562
№10: The Lord of the Rings: The Return of the King; голоса: 1614816
№11: The Godfather; голоса: 1585284
№12: The Dark Knight Rises; голоса: 1491705
№13: Interstellar; голоса: 1469113
№14: The Lord of the Rings: The Two Towers; голоса: 1459562
№15: Se7en; голоса: 1414682
№16: Breaking Bad; голоса: 1405401
№17: Django Unchained; голоса: 1329151
№18: Gladiator; голоса: 1317472
№19: Batman Begins; голоса: 1287563
№20: The Avengers; голоса: 1246700
№21: The Silence of the Lambs; голоса: 1245277
№22: Inglourious Basterds; голоса: 1239945
№23: Saving Private Ryan; голоса: 1213135
№24: Star Wars: Episode IV - A New Hope; голоса: 1211331
№25: Schindler's List; голоса: 1192150
№26: The Departed; голоса: 1168096
№27: The Prestige; голоса: 1165761
№28: The Wolf of Wall Street; голоса: 1153213
№29: Star Wars: Episode V - The Empire Strikes Back; голоса: 1139605
№30: The Green Mile; голоса: 1122710
№31: The Godfather: Part II; голоса: 1107605
№32: Memento; голоса: 1107601
№33: Avatar; голоса: 1106088
№34: Shutter Island; голоса: 1105850
№35: American Beauty; голоса: 1054942
№36: Back to the Future; голоса: 1036582
№37: Titanic; голоса: 1029053
№38: Guardians of the Galaxy; голоса: 1029048
№39: American History X; голоса: 1020261
№40: V for Vendetta; голоса: 1016075
№41: Léon: The Professional; голоса: 1015699
№42: Pirates of the Caribbean: The Curse of the Black Pearl; голоса: 1005123
№43: Goodfellas; голоса: 999954
№44: Kill Bill: Vol. 1; голоса: 984171
№45: WALL·E; голоса: 981546
№46: Terminator 2: Judgment Day; голоса: 981233
№47: The Usual Suspects; голоса: 975583
№48: Braveheart; голоса: 946674
№49: Star Wars: Episode VI - Return of the Jedi; голоса: 934060
№50: Finding Nemo; голоса: 934018

*3. 10 самых популярных (по кол-ву оценок и с рейтингом >= 7) комедий 2019 года*

Запрос:  """
SELECT title
FROM rating AS r
    JOIN titles AS t ON r.title_id = t.title_id
    JOIN film_genres AS fg ON r.title_id = fg.title_id
    JOIN genre_types AS gt ON fg.genre_id = gt.id
WHERE rating >= 7 AND premiered = 2019 AND genre_name = "Comedy"
ORDER BY votes DESC
LIMIT 10
"""

In [110]:
vote_rat_query = """
SELECT title
FROM rating AS r
    JOIN titles AS t ON r.title_id = t.title_id
    JOIN film_genres AS fg ON r.title_id = fg.title_id
    JOIN genre_types AS gt ON fg.genre_id = gt.id
WHERE rating >= 7 AND premiered = 2019 AND genre_name = "Comedy"
ORDER BY votes DESC
LIMIT 10
"""

In [111]:
top_comedies = [item for item in cur.execute(vote_rat_query).fetchall()]
for i in range(len(top_comedies)):
    print(f"№{i+1}: {top_comedies[i][0]}")

№1: Once Upon a Time... In Hollywood
№2: Parasite
№3: Knives Out
№4: Jojo Rabbit
№5: Shazam!
№6: Marriage Story
№7: The Boys
№8: The Gentlemen
№9: Toy Story 4
№10: Sex Education